@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

.propriedade-box {
    background-color: #fff;
    padding: 10px;
    color: black;
    -webkit-box-shadow: 1px 3px 8px 5px #4C4C4C; 
    box-shadow: 1px 3px 8px 5px #4C4C4C;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

small {
    font-size: 12px;
}